*{
    margin: 0;
    padding: 0;
}
.horizontalScroll{
    display: flex;
    padding: 0;
    margin: 0;
}
.card{
    margin-top: 10px;
    display: block;
    padding: 10px 10px 5px 10px;
    margin-left: 10px;
    height: 180px;
    width: 120px;
    background-color: white;
    border-radius: 10px;
}
.imageCard{
    background-color: rgb(241, 241, 241);
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin: auto;
    display: grid;
    align-content: center;
    justify-content: center;
}

.imageForProduct{
    width: 70px;
    height: 70px;
}
.productDescription{
    margin-top: 8px;
    text-align: center;
    line-height: 0.8;
}

.price{
    text-align: center;
}