.background-modal{
    background: rgba(0, 0, 0, 0.8);
        z-index: 4;
        position: fixed;
        top: -10px;
        left: -10px;
        right: -10px;
        bottom: -10px;
        display: flex;
        justify-content: center;
        align-items: center;
}
.modalWindow{
    background-color: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px -3px 10px rgb(40, 40, 40);
    width: 80%;
}
.modalHeader{
    background-color: #fa951a;
    border-radius: 10px 10px 0px 0px;
    height: 35px;
    padding-top: 15px;

}
.modalButtons{
    background-color: #fa951a;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    display:inline;
    cursor: pointer;
    width: 100px;
    margin: 20px 10px 10px 10px;
    height: 30px;
}
form input{
    border-radius: 30px;
    width: 80%;
    outline-color: #fa951a;
    box-shadow: inset 2px 2px 5px rgb(128, 128, 128);
    text-align: center;
    border: none;
    height: 35px;
}
.closeButton{
    background:none;
    border: none;
    position: relative;
    cursor: pointer;
    font-size: 24px;
    left: 45%;
    top: -35px;
}
.formModal{
    padding: 40px 0px 20px 0px;
}
.selectType{
    border-radius: 15px;
    height: 35px;
    width: 175px;
    text-align: center;
    border: none;
    box-shadow: 2px 2px 5px rgb(128, 128, 128);
    font-size: 20px;
    display: inline;
    cursor: pointer;
}
.formModal h2{
    font-size: 18px;
    margin-top: 10px;
}

@media (min-width: 0px) and (max-width: 350px) {
   
}


@media (min-width: 351px) and (max-width: 500px){
    form {
        padding: 0px;
    }

}

@media (min-width: 500px) and (max-width: 1023px) {
    .modalWindow{
        width: 65%;
    }
    .modalHeader{
        height: 35px;
        padding-top: 20px;
    }
    form input{
    font-size: 20px;  
    }
    .modalButtons{
        width: 150px;
        height: 40px;
        margin: 40px 10px 30px 10px;
        font-size: 18px;
    }
    .closeButton{
        left: 45%;
        top: -40px;
    }
    
}

@media (min-width: 1024px) {
    .modalWindow{
        width: 60%;
    }
.modalHeader{
    height: 40px;
    padding-top: 20px;
}
.modalButtons{
    width: 200px;
    height: 40px;
    font-size: 20px;
    margin: 40px 30px 30px 30px;
}
form h4{
    margin-top: 15px;
    margin-bottom: 5px;
    position: relative;
}
form input{
    border-radius: 30px;
    width: 57%;
    outline-color: #fa951a;
    box-shadow: inset 2px 2px 5px rgb(128, 128, 128);
    text-align: center;
    border: none;
    height: 35px;
    font-size: 22px;  
}
.selectType{
    height: 35px;
    width: 175px;
    font-size: 20px;
}
.selectSection{
    margin-bottom: 10px;
    margin-top: 10px;
}
.selectSection h4{
    display: inline-block;
    margin-right: 15px;
}
option{
    margin: auto;
}
.closeButton{
    font-size: 28px;
    top: -42px;
    left: 46%;

}
}