* {
    font-family: 'Darker Grotesque', sans-serif;
   
}
.mainLogo{
    width: 48px;
}
.optionForProduct{
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
   
}
.imageForProduct{
    width: 200px;
    height: auto;
    grid-row: auto;

}
.buttonForProduct{
    width: 50%;
    background-color: aqua;

}